body {
  padding-top: 70px
}

.ratings {
  color: #d17581;
  padding-left: 10px;
  padding-right: 10px;
}

.slide-image {
  width: 100%;
}

.carousel-holder {
  margin-bottom: 30px;
}

.carousel-control,.item {
  border-radius: 4px;
}

.caption {
  height: 170px;
  overflow: hidden;
}

.caption h4 {
  white-space: nowrap;
}

.hero-spacer {
  margin-top: 50px;
}

.hero-feature {
  margin-bottom: 30px;/* spaces out the feature boxes once they start to stack responsively */
}

.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
  color: #333;
}

.centered-form{
  margin-top: 60px;
}

.centered-form .panel{
  background: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

footer {
  margin: 50px 0;
}